@model List<Category>

@{
    ViewData["Title"] = "Index";
}


<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><b>Categories</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a asp-action="Create" asp-controller="Categories" class="btn btn-success"><i class="fa fa-plus "></i> <span>Add New Category</span></a>
                        <a asp-action="Delete" asp-controller="Categories" class="btn btn-danger"><i class="fa fa-trash"></i> <span>Delete</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover tree">
                <thead>
                    <tr>
                        <th >
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="treegrid-@item.Id">
                            <td class="check-content">
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox-@item.Id" name="options[]" value="1">
                                    <label for="checkbox-@item.Id"></label>
                                </span>
                            </td>
                            <td>@item.Name</td>
                            <td class="crud-btn">
                                <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Categories" class="edit"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Categories" class="delete"><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
                                <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Categories" class="view"><i class="fa fa-eye" data-toggle="tooltip" title="Details"></i></a>
                            </td>
                        </tr>

                        foreach (var child in item.GetCategoriesHierarchy())
                        {
                            <tr class="treegrid-@child.Id treegrid-parent-@child.ParentId">
                                <td class="check-content">
                                    <span class="custom-checkbox">
                                        <input type="checkbox" id="checkbox-@child.Id" name="options[]" value="1">
                                        <label for="checkbox-@child.Id"></label>
                                    </span>
                                </td>
                                <td>@child.Name</td>
                                <td class="crud-btn">
                                    <a asp-action="Edit" asp-route-id="@child.Id" asp-controller="Categories" class="edit"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i></a>
                                    <a asp-action="Delete" asp-route-id="@child.Id" asp-controller="Categories" class="delete"><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
                                    <a asp-action="Details" asp-route-id="@child.Id" asp-controller="Categories" class="view"><i class="fa fa-eye" data-toggle="tooltip" title="Details"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="clearfix">

                <ul class="pagination">
                    <li class="page-item "><a asp-action="Index" class="previous-link page-link">Previous</a></li>

                    @for (int i = 1; i <= ViewBag.PageCount; i++)
                    {
                        <li class="page-item"><a asp-action="Index" asp-route-page="@i" class="page-link page-count">@i</a></li>
                    }
                    <li class="page-item"><a asp-action="Index" class="next-link page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>




        

@section addjs{
    <script src="~/libs/jquery-treegrid/js/jquery.treegrid.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tree').treegrid();
        })
    </script>
}
@section addcss{
    <link href="~/libs/jquery-treegrid/css/jquery.treegrid.css" rel="stylesheet" />
    <style>
        ul{
            padding-left:0;
        }
    </style>
}
