@model ProductCreateCommand

@{
    ViewData["Title"] = "Create";
}

<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <h1>Create Product</h1>

        <form class="row" enctype="multipart/form-data" method="post" id="create-form">
            <div class="col-md-12">
                <div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-8">
                        <div style="width: 600px;" class="imager-container" id="viewer1" name="images">
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="SkuCode" class="control-label"></label>
                        <input asp-for="SkuCode" class="form-control" />
                        <span asp-validation-for="SkuCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BrandId" class="control-label"></label>
                        <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                        </select>
                    </div>
                    <div class="form-group ">
                        <label asp-for="ShortDescription" class="control-label"></label>
                        <textarea asp-for="ShortDescription" class="form-control editor"></textarea>
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group ">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control editor"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class=" form-row">
                        <div class="col-12 ">
                            <div class="tab-control" role="tabcontrol">
                                <div class="tab-page" id="specifications" aria-title="Specification" selected>
                                    <div class="specification">
                                        <a href="" class="btn btn-default mr-2 btn-success btn-rounded btn-add-specification " data-toggle="modal" data-target="#modalLoginForm">
                                            <i class="fa fa-plus "></i> <span>Add Specification</span>
                                        </a>
                                        <a href="" class="btn btn-default btn-danger btn-rounded btn-remove-specification ">
                                            <i class="fa fa-trash "></i> <span>Remove Chosen</span>
                                        </a>
                                    </div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Value</th>
                                            </tr>
                                        </thead>
                                        <tbody id="specificationBody">
                                            @*@{ int index = 0; }
                                            @foreach (Specification item in ViewBag.Specifications)
                                            {
                                                <tr>
                                                    <th scope="row">@(index + 1)</th>
                                                    <td>@item.Name</td>
                                                    <td>
                                                        <input type="hidden" name="SelectedSpecifications[@index].Id" value="@item.Id" />
                                                        <input type="text" class="form-control w-100" name="SelectedSpecifications[@(index++)].Value" />
                                                    </td>
                                                </tr>
                                            }*@
                                        </tbody>
                                    </table>
                                </div>
                                @*<div class="tab-page" id="permissions" aria-title="Selahiyyetler" selected></div>*@
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>

        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        
    </div>
</div>

@*Modal*@
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" method="post">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add Specification</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="defaultForm-name" class="w-100">Value</label>
                    <select class="form-select w-100 p-2" id="defaultForm-name" name="defaultFormName">
                        
                        @foreach (Specification item in ViewBag.Specifications)
                        {
                            <option value="@item.Id">@item.Name</option>

                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-default modal-btn">Add</button>
            </div>
        </form>
        
    </div>
</div>



@section addjs{
    <script src="~/libs/multiple-imager-js/js/imager.js"></script>
    <script src="~/libs/ckeditor5/ckeditor.js"></script>
    <script src="~/libs/tab-control/tab-control.js"></script>

    <script>
        $('#viewer1').imgadd({
            tnWidth: '120px',
            tnHeight: '120px',
            fontSize: '55px',
            plusInnerHtml: '',
            plusBtnClass: undefined
        });

        $(document).ready(function () {
            document.querySelectorAll(".editor").forEach(item => {
                ClassicEditor
                    .create(item)
                    .catch(error => {
                        console.error(error);
                    });
            })
        })

        $(document).ready(function () {
            $("#create-form").submit(function (e) {
                e.preventDefault();

                if (!$(e.currentTarget).valid())
                    return;

                let formData = new FormData(e.currentTarget);
                $.ajax({
                    type: "post",
                    url: '@Url.Action("Create")',
                    data: formData,
                    processData: false,
                    contentType: false,
                    dataType: "json",
                    success: function (response) {
                        if (response.error == false) {
                            toastr.success(response.message, 'Successfully!');
                            location.reload();
                        }
                        else {
                            toastr.error(response.message, 'Error!');
                        }
                    },
                    error: function (response) {

                    }
                })
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            let index = 0;
            let specifications = [];
            //let removeChosen = [];
            $(".modal-content").submit(function (e) {
                e.preventDefault();

                if (jQuery.inArray(Number($('select[name=defaultFormName] option').filter(':selected').val()), specifications) == -1) {
                    let formData = new FormData(e.currentTarget);
                    
                    $.ajax({
                        type: "post",
                        url: '@Url.Action("ChooseSpecification")',
                        data: formData,
                        processData: false,
                        contentType: false,
                        dataType: "json",
                        success: function (response) {
                            if (response.error == false) {

                                //sual: burani harda yazsam duzdu
                                const html = `<tr id="${index}">
                                                <th scope="row"><input type="checkbox" id="${index}" class="deleteChosen" value="${response.id}"/></th>
                                                <td>${response.name}</td>
                                                <td>
                                                    <input type="hidden" id="spct" name="SelectedSpecifications[${index}].Id" value="${response.id}" />
                                                    <input type="text" class="form-control w-100" name="SelectedSpecifications[${index++}].Value" />
                                                </td>
                                            </tr>`
                                $("#specificationBody").append(html);
                                $(".close").click();
                                specifications.push(response.id);
                            }
                            else {
                            }
                        },
                        error: function (response) {
                        }
                    });
                }


            });

            $(".btn-remove-specification").click(function (e) {
                e.preventDefault();
                $("input.deleteChosen:checked").each(function (index, element) {
                    //removeChosen.push($(this).val());
                    if (jQuery.inArray(Number($(this).val()), specifications) != -1) {
                        specifications = $.grep(specifications, function (value) {
                            return value != Number($(element).val());
                        });


                    }

                    let inx = $(this).attr("id");
                    $("tr").each(function (index, element) {
                        if ($(this).attr("id") == inx) {
                            element.remove();
                        }
                    })
                    const html = `<tr style="display:none">
                                    <td id="${inx}">
                                        <input type="hidden" class="form-control w-100" name="SelectedSpecifications[${inx}].Value" value="" />
                                    </td>
                                </tr>`
                    $("#specificationBody").append(html);


                    
                });

                @*let obj = {
                    ids: removeChosen
                };
                $.ajax({
                        type: "post",
                        url: '@Url.Action("DeleteChosen")',
                        data: JSON.stringify(obj),
                        contentType: 'application/json',
                        dataType: "json",
                        success: function (response) {
                            if (response.error == false) {
                                removeChosen = [];
                                console.log("A");
                            }
                            else {
                            }
                        },
                        error: function (response) {
                        }
                    });*@

            });
        });
    </script>

}

@section addcss{
    <script src="https://kit.fontawesome.com/1154e1d6ee.js" crossorigin="anonymous"></script>
    <link href="~/libs/multiple-imager-js/css/imager.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/libs/multiple-imager-js/css/imager.css">
    <link rel="stylesheet" href="~/libs/tab-control/tab-control.css" />

<style>
    
    .btn-default {
        
        margin-top:10px;
        font-size:13px;
    }
    .form-select {
        border-radius: 2px;
        box-shadow: none;
        border-color: #dddddd;
    }
    .modal-header{
        background-color:lightblue;
    }
    .modal-btn{
        background-color:powderblue;
    }
</style>

}

